<section class="content-main">
  <form
    action="/admin/add-product"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="row">
      <div class="col-9">
        <div class="content-header">
          <h2 class="content-title">Add New Product</h2>
          <div>
            <button
              type="submit"
              class="btn btn-md rounded font-sm hover-up"
            >
              Add Product
            </button>
          </div>
        </div>
      </div>

      <!-- LEFT -->
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Basic</h4>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <label class="form-label">Product title</label>
              <input
                type="text"
                name="productName"
                class="form-control"
                required
              />
            </div>

            <div class="mb-4">
              <label class="form-label">Short description</label>
              <input
                type="text"
                name="shortDescription"
                class="form-control"
              />
            </div>

            <div class="mb-4">
              <label class="form-label">Full description</label>
              <textarea
                name="description"
                rows="4"
                class="form-control"
              ></textarea>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <label class="form-label">Price</label>
                <input
                  type="number"
                  name="price"
                  class="form-control"
                  required
                />
              </div>

              <div class="col-lg-4">
                <label class="form-label">Discount price</label>
                <input
                  type="number"
                  name="discountPrice"
                  class="form-control"
                />
              </div>

              <div class="col-lg-4">
                <label class="form-label">Stock</label>
                <input
                  type="number"
                  name="stock"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT -->
      <div class="col-lg-3">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Media</h4>
          </div>
           <div class="card-body">
             <label class="form-label">Thumbnail</label>
            <input
              type="file"
              name="thumbnail"
              class="form-control"
              required
            />
          </div>
          <div class="card-body">
             <label class="form-label">Product Images</label>
            <input
              type="file"
              name="productImages"
              class="form-control"
              multiple
              required
            />
          </div>
         
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h4>Organization</h4>
          </div>
          <div class="card-body">
            <label class="form-label">Brand</label>
            <select name="brand" class="form-select" required>
              <option value="">Select brand</option>
              <option>Mini GT</option>
              <option>Johnny Lighting</option>
              <option>Maisto</option>
              <option>Tomica</option>
              <option>Majorette</option>
              <option>Hot Wheels</option>
            </select>

            <label class="form-label mt-3">Category</label>
            <select name="category" class="form-select" required>
              <option value="">Select category</option>
              <option>Supercars</option>
              <option>Sports Cars</option>
              <option>JDM Cars</option>
              <option>Muscle Cars</option>
              <option>SUVs</option>
            </select>

            <label class="form-label mt-3">Rating</label>
            <input
              type="number"
              name="rating"
              step="0.1"
              max="5"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
